.header_container {
  border-bottom: 2px solid #29862e;
   background: rgb(216, 154, 154);
}

h1 {
    font-family: 'Sofia', cursive;
    font-size: 50px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.header_container a {
    color: #fff;
    text-decoration: none;
  }

  .header_container a:hover {
    text-shadow: 2px 2px 4px #29862e;
  }